/******************** Ignore everything between here and line 21.  Not required *******************/
@charset "UTF-8";

/* RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, header, nav, article, aside, footer, hgroup, section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  text-decoration: none;
}

:focus, :active {
  outline: 0
}

ol, ul {
  list-style: none;
  letter-spacing: 0.1px;
  line-height: 1.25;
  color: #022144;

font-family: 'Rokkitt', serif;
font-weight: normal;
font-size: 16px;
}
header, nav, article, aside, footer, hgroup, section
{
  display: block
}

/***************************** Ignore everything ABOVE.  Not required ****************************/
/******************************************************************************************/

html {
  background-color: #f7def4;
}

/*HINT - background color of site set here*/
body {
  width: 960px;
  margin: 0 auto;
  color: black;
  /*HINT - here we set the text color of site*/
  font: 14px/18px Corbel, Arial, Helvetica, sans-serif;
  text-align: justify;
}

p {
  margin-bottom: 10px;
	font-family: 'Rokkitt', serif;
	font-size: 16px;
	font-weight: lighter;
  color: #022144;
}

h1 {
  font-family: 'Lusitana', serif;
  font-size: 24px;
  margin-bottom: 8px;
  margin-top: 3px;
  color: #053366;
  /*HINT - here we set the heading color of site*/
  font-weight: bold;
}

h2 {
  /* font: 22px/22px Corbel, Arial, Helvetica, sans-serif; */
  font-family: 'Rokkitt', serif;
  font-weight: normal;
  font-size: 16px;
  margin-bottom: 6px;
  color: #053366;
}

strong {
  font-weight: bold
}

em {
  font-style: italic
}

/* sets text color and size for all hyperlinks on page */
a {
  color: #255589;

font-family: 'Rokkitt', serif;
font-weight: normal;
font-size: 16px;
}

a:hover {
  border-bottom: 1.5px dotted black;
/* ======= */
	font-family: 'Rokkitt', serif;
	font-weight: normal;
}
/*
a:hover {
	font-family: 'Rokkitt', serif;
	font-weight: normal;
  border-bottom: 1px dotted black; */
/* >>>>>>> 1c47c8ab11dc05b2aa38c4dd97a2ab1feab16ac1 */
}

a:active {
	font-family: 'Rokkitt', serif;
	font-weight: normal;
  border-bottom: 2px solid #255589;
}

/*********************************************************************************/
/************************************ HEADER *************************************/
/*********************************************************************************/
header {
  margin: 5px 5px 2px 2px
}

header h1 {
	font-family: 'Lusitana', serif;
	font-size: 34px;
  font-weight: normal;
	letter-spacing: 1.5px;
  margin-bottom: 16px;
  color: #053366;
  /*HINT - This is where you change webpage title color */
  text-align: center;
}

header h2 {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #255589;
  /* color: #001333; */
  border-bottom: 3.5px dotted #ffffff;
  border-top: 3.5px dotted #ffffff;
  /*HINT - This is where you change quote color */
  text-align: center;
}


/*********************************************************************************/
/*********************************** BODY ****************************************/
/*********************************************************************************/
#content {
  background: white;
  /*background color in body portion*/
  padding: 20px;
  border-radius: 15px 15px 15px 15px;
  /*rounded edges*/
  -moz-border-radius: 15px 15px 15px 15px;
  /*rounded edges - FIREFOX*/
  -webkit-border-radius: 15px 15px 15px 15px;
  /*rounded edges - SAFARI & CHROME*/
}

#content h3 {
  color: black;
  /*HINT - This is where you change quote color */
  text-align: center;
  font-family: 'Rokkitt', serif;
	font-weight: normal;
	font-size: 16px;
}

#content img {
  margin-left: 80px;
  /* index pictures left x pixels*/
  box-shadow: inset 1 -35px 35px -18px #c9a7c4;
  /* shadowing for pictures*/
  -moz-box-shadow: inset 1 1 10px rgba(50, 50, 50, 0.5);
  /* shadowing for pictures - MOZILLA*/
  -webkit-box-shadow: 3px 3px 7px #c9a7c4;
  /* shadowing for pictures - CHROME*/
  border-radius: 100%;
}

/* Sets the formatting for the scrolling text at the bottom*/
#scroller {
  font: 20px/20px "Rokkitt";
  margin-top: 10px;
  margin-bottom: 10px;
  color: #255589;
}

/* Sets the formatting for the work experience portion */

.work-experience ul {
  list-style: none; /* Remove HTML bullets */
  /* padding-left: 20px;
  margin-left: 20px; */
  line-height: 13px;
}

.work-experience li::before {
  content: "\273F"; /* Insert content that looks like bullets */
  padding-left: 4px;
  color: #053366; /* Or a color you prefer */
  margin-right: 5px;

}

/* Sets the formatting for the links portion*/
.links li {
  font-size: 18px;
  line-height: 15px;
  margin-bottom: 8px;
  text-align: left;
  padding-left: 2px;
  border-bottom: 1px dotted #fafafa;
  -o-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}

/* Slides links text to the right when mouse hovers over link*/
.links li:hover {
  margin-left: 9px
}

.links li a:hover {
  border: none
}

/*********************************************************************/
/***************************** COPYRIGHT *****************************/
/*********************************************************************/
.copyright {
  text-align: center;
  color: #053366;
  border-top: 3.5px dotted #ffffff;
  /*HINT - This is where you change copyright text color */
  margin: 10px 0 15px;
  padding-top: 8px;
  clear: both;
}
